.title {
    color: rgb(151, 166, 233);
    margin-bottom: 3px;
    font-size: 22px;
}
.input {
    font-size: 20px;
    background: white;
    color: darkblue;
    border-radius: 10px;
    height: 40px;
}
.input::placeholder{
    color: rgb(151, 166, 233);
}