.title {
    color: rgb(151, 166, 233);
    margin-bottom: 3px;
    font-size: 22px;
}
.selection {
    font-size: 20px;
    height: 40px;
    background: white;
    color: rgb(151, 166, 233);
    border-radius: 10px;
}